@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 10px;
  margin: 1rem; }

html {
  font-family: "Monterrat" !important; }

.title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #002f6c !important;
  margin: 1rem 0rem;
  text-decoration: underline; }

.header__title {
  margin: 0;
  color: #002f6c;
  -webkit-text-stroke: 1.5px #002f6c;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  backdrop-filter: blur(90px);
  padding: 1rem; }

.header__vision {
  color: #f0ad4e;
  font-size: 2.3rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  backdrop-filter: blur(90px);
  padding: 2rem; }

.nav__links {
  color: #002f6c !important;
  letter-spacing: 0.2rem;
  font-weight: 600; }

.nav__links:hover {
  border-top: 3px solid #f0ad4e; }

.footer {
  background: #002f6c; }
  .footer__copy {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #f0ad4e !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #f0ad4e;
    margin: 1rem 0rem; }
  .footer__info {
    color: #f0ad4e !important;
    letter-spacing: 0.1rem;
    font-size: 0.8rem; }

.services__title {
  color: #f0ad4e !important;
  padding: 1rem; }

.mission__slogan {
  font-size: 1.25rem;
  color: #002f6c; }

.mission__title--emp {
  font-size: 1.4rem;
  color: #f0ad4e; }
