@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 10px;
  margin: 1rem; }

html {
  font-family: "Monterrat" !important;
  background: cover; }

.title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: inherit !important;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #002f6c !important;
  margin: 1rem 0rem; }
  .title__clients {
    text-transform: uppercase;
    font-family: inherit !important;
    letter-spacing: 0.2rem;
    font-weight: 200;
    color: #002f6c !important;
    padding: 1rem;
    border: 2px solid #f0ad4e;
    margin: 1rem 0rem;
    font-size: 1.5rem; }

.button__contact {
  background-color: #f0ad4e;
  color: #002f6c;
  font-size: 1.1rem;
  letter-spacing: 0.2rem; }

.button__contact:hover {
  background-color: #002f6c;
  color: #f0ad4e;
  border: solid 2px #f0ad4e; }

.header__title {
  margin: 0;
  color: #002f6c;
  -webkit-text-stroke: 1.5px #002f6c;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  backdrop-filter: blur(90px);
  padding: 1rem; }

.header__vision {
  color: #f0ad4e;
  font-size: 2.3rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  backdrop-filter: blur(90px);
  padding: 2rem;
  font-weight: 100; }

.nav__links {
  color: #002f6c !important;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-size: 1rem !important;
  font-family: inherit !important; }

.nav__links:hover {
  border-top: 3px solid #f0ad4e; }

#edm {
  -webkit-text-stroke: 1.5px #002f6c;
  color: rgba(255, 255, 255, 0.849);
  letter-spacing: 0.3rem;
  font-weight: 400;
  font-size: 2.5rem !important;
  font-family: inherit !important;
  margin-bottom: -1rem;
  margin-left: -2rem; }
  #edm:hover {
    transition: 0.5s;
    /* Displays in 1 Second */
    color: #f0ad4e;
    -webkit-text-stroke: 1.5px #002f6c; }

.uk-navbar {
  min-height: 50px; }
  .uk-navbar button.navbar-toggle {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px 10px;
    margin-top: 2.5rem;
    margin-right: 2rem;
    background-color: transparent;
    background-image: none;
    border: 1px solid #f0ad4e; }
    .uk-navbar button.navbar-toggle .icon-bar {
      display: block;
      width: 26px;
      height: 3px;
      background-color: #002f6c; }
      .uk-navbar button.navbar-toggle .icon-bar + .icon-bar {
        margin-top: 4px; }
  .uk-navbar .uk-navbar-nav {
    flex-wrap: wrap-reverse;
    align-self: flex-end; }
    .uk-navbar .uk-navbar-nav > li > a {
      min-height: auto;
      line-height: 3em; }

@media (max-width: 959px) {
  .uk-navbar .toggle-target.collapsed {
    display: none; }
  .uk-navbar .toggle-target .uk-navbar-nav {
    display: block;
    top: 85px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.849);
    margin-bottom: 1rem;
    z-index: 2; }
    .uk-navbar .toggle-target .uk-navbar-nav li a {
      display: block;
      min-height: 0;
      line-height: 2em;
      padding: 0 15px !important; }
  .uk-navbar .toggle-target .uk-navbar-dropdown {
    width: 90%;
    min-width: 200px; }
    .uk-navbar .toggle-target .uk-navbar-dropdown[class*="uk-navbar-dropdown-bottom"] {
      margin-top: 0; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.footer {
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.8), rgba(0, 47, 108, 0.8)), url("../../images/metal.jpg"); }
  .footer__copy {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 400;
    color: #f0ad4e !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #f0ad4e;
    margin: 1rem 0rem; }
  .footer__info {
    color: #f0ad4e !important;
    letter-spacing: 0.1rem;
    font-size: 1rem; }

.services__title {
  color: #f0ad4e !important;
  text-transform: uppercase;
  backdrop-filter: contrast(20%);
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
  font-weight: 100;
  font-family: inherit; }

.mission__card {
  background: transparent;
  border: 1px solid #f0ad4e; }

.mission__slogan {
  font-size: 1.25rem;
  color: #002f6c; }

.mission__switcher {
  font-size: 2rem;
  margin-top: -1rem;
  padding: 1rem; }

.mission__title--emp {
  font-size: 1.4rem;
  color: #f0ad4e; }

#logo__tile {
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.8), rgba(0, 47, 108, 0.8)), url("../../images/metal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0ad4e; }

#my-id {
  font-size: 1.2rem; }

.contact__background {
  background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.8), rgba(0, 47, 108, 0.8)), url("../../images/metal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.contact__title {
  color: #f0ad4e !important;
  font-size: 2.5rem !important; }

.contact__inputs {
  font-size: 1rem;
  color: #f0ad4e;
  letter-spacing: 0.1rem; }

.cat__title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #002f6c !important;
  letter-spacing: 0.2rem; }
