.button {
  &__contact {
    background-color: $color-sec;
    color: $color-main;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
  }
  &__contact:hover {
    background-color: $color-main;
    color: $color-sec;
    border: solid 2px $color-sec;
  }
}
