.footer {
  background: $color-sec;
  &__copy {
    font-size: 1.2rem;
    text-transform: uppercase;

    letter-spacing: 0.2rem;
    font-weight: 400;
    color: $color-black !important;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: $color-main;
    background: $color-sec;

    border: 1px solid $color-sec;
    margin: 1.5rem 0rem;
  }

  &__info {
    color: $color-main !important;

    font-size: 1rem;
  }
}
