.mission {
  &__card {
    background: transparent;
    border: 1px solid $color-sec;
  }
  &__slogan {
    font-size: 1.25rem;
    color: $color-main;
  }
  &__title--emp {
    font-size: 1.4rem;
    color: $color-sec;
  }
}
