.mission {
  &__card {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.8),
        rgba($color-main, 0.8)
      ),
      url("../../images/metal.jpg");
    border: 8px solid $color-sec;
  }
  &__slogan {
    font-size: 1.25rem;
    color: $color-sec;
    letter-spacing: 0.1rem;
  }
  &__slogan--quote {
    font-size: 1.25rem;
    color: $color-main;
    letter-spacing: 0.1rem;
  }
  &__switcher {
    color: $color-sec;
    font-size: 2rem;
    margin-top: -1rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
  }
  &__title--emp {
    font-size: 1.4rem;
    color: $color-sec;
  }
}

#logo__tile {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-black, 0.8),
      rgba($color-main, 0.8)
    ),
    url("../../images/metal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-sec;
  border: 8px solid $color-sec;
}

#my-id {
  font-size: 1.2rem;
}
