.services {
  &__title {
    color: $color-sec !important;
    text-transform: uppercase;
    backdrop-filter: contrast(20%);
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    padding: 1rem;
    font-weight: 100;
    font-family: inherit;
    border: 1px solid $color-white;
    padding: 0.4rem;
  }
}
