@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  margin: 1rem;
}

html {
  font-family: "Monterrat" !important;
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba($color-black, 0.8),
  //     rgba($color-white, 0.8)
  //   ),
  //   url("../../images/metal.jpg");
  background: cover;
}
